.edit_progress {
  font-size: 12px;
  color: black;
  width: 50px;
  height: 20px;
  padding: 2px;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  border: 2px solid #AFF;
  border-width: 3px;
}

.edit_title {
  width: 100%
}

.edit_point {
  width: 100%
}

.add-button {
  text-align: center;
}

.add-button img {
  width: 20;
  cursor: pointer;
  height: 20;
  margin: 10px;
  margin-bottom: 20px;
}

.add-button img:hover {
  border: 2px solid #99F;
  border-radius: 2px;
}

.panel {
  position: relative;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.remove-button:hover {
  border: 1px solid #99F;
  border-radius: 2px;
}

.point-box {
  position: relative;
}

.add-button-small {
  margin: 2px;
}

.button-wrap {
  padding: 20px 40px;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid #EEE;
  background-color: #EEE;
}
